html,body{
  margin: 0%;
  padding: 0%;
  height: 100%;
  width: 100%;
  background: linear-gradient(#222, #000);
}
video{
  position: absolute;
  top: 15vh;
  left: 22vw;
  display: none;
  border: 2px solid white;
}
#button-wrapper{
  position: absolute;
  top: 45vh;
  width: 100%;
}
#buttoin-wrapper button{
  position: relative;
  margin-left: 10vw;
  margin-right: 10vw;
  float: left;
  height: 7vh;
  width: 10vw;
  background-color: #299;
  font-family: "century gothic";
  font-size: 1vw;
  color: white;
  border-radius: 5px;
}
button:hover{
  background-color: #f44;
  cursor: pointer;
}
#verizon{
  float: right;
}
