html,body{
  margin: 0%;
  padding: 0%;
  height: 100%;
  width: 100%;
  font-family: "century gothic";
  background: #eee;
}
#head{
  position: relative;
  float: left;
  width: 100%;
  height: 8vh;
  background-color: #054f93;

}
#brandmonk{
  position: relative;
  margin-left: 4vw;
  padding: .5vh;
  float: left;
  height:100%;
  width: 20vw;
  font-family: verdana arial "century gothic";
  font-size: 2.3vw;
  font-weight: bold;
  color: #eee;
}
.head-button{
  position: relative;
  padding: 2vh;
  float: right;
  width: auto;
  height: 50%;
  font-size: 1.25vw;
  color: #eee;
}
.head-button:hover{
  background-color: #eee;
  color: #299;
  cursor: pointer;
}
.head-button:active{
  background-color: #299;
  color: white;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #054f93;
    overflow-x: hidden;
    transition: 0.5s;
    float: left;
}

.info {
    text-decoration: none;
    margin-top:5px;
    margin-left: 5px;
    font-size: 1.45vw;
    color: white;
    display: block;
    transition: 0.3s;
    border: 1px solid transparent;
}

.info:hover, .info:focus{
    border: 1px solid white;
    cursor: pointer;
}
.sidenav a {
    margin-left: 2px
    color: rgb(129, 129, 129);
    display: block;
    text-decoration: none;
    transition: 0.3s;
    color: white;
}
.closeNav {
  position: relative;
  font-size: 36px;
  margin-left: 20vw;
  cursor: pointer;
  color: white;

}


.navBtn{
  position: absolute;
  top: 2vh;
  left: 2vw;
  font-size: relative;
  cursor:pointer;
  color:white;
}
.container{
  position:relative;
  margin-bottom: 5px;
  left:3.3vw;
  height: 30vh;
  width: 15vw;
  border-radius: 50%;
}
.dropbtn {
    background-color: #054f93;
    border: 1px solid transparent;
    text-decoration: none;
    width: 100vw;
    font-size: 1.25vw;
    color: white;
    display: block;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    border: 1px solid white;
}
#myInput {
    border-box: box-sizing;
    font-size: 1.2vw;
    padding: 14px 20px 12px 45px;
    border: 1px solid transparent;
    background-color:#054f93;
    color: white;
}
#myInput:focus{
    border: 1px solid white;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color:  #054f93;
    overflow-x: hidden;
    z-index: 1;
    transition: 0.7s;
    float: left;

}
.closePref{
  position: relative;
  font-size: 36px;
  margin-right: 90vw;
  cursor: pointer;
  color: white;
}
.dropdown-content a {
  text-decoration: none;
  font-size: 1.5vw;
  color: white;
  display: block;
  transition: 0.3s;
  border: 1px solid transparent;
}

.dropdown a:hover {
  border: 1px solid white;
  color: ##f1f1f1;
}

.show {display:block;}

.tabs{
  text-align: center;
  position: relative;
  margin-top: 0.5vh;
  float: right;
  width: 100%;
  height: 5vh;
  background-color: white;
}
.tabBtn{
  font-weight: bold;
  color: #1f1f7a;
  font-size: 1.3vw;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
}
.tabBtn:hover, .tabBtn:focus{
  border-bottom:2px solid blue;
  cursor: pointer;
}

#vid-container{
  position: absolute;
  left: 3.5vw;
  top: 15vh;
  width: 93%;
  height: auto;
  background-color: #fff;
}
.video-divs{
  position: relative;
  margin: 10px;
  float: left;
  width: 230px;
  height: 200px;
  background-size: 100% 65%;
  background-repeat: no-repeat;
}
.video-divs:hover{
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 225, 0.6), 0 6px 20px 0 rgba(0, 0, 225, 0.6);
}
.thumbs{
  padding-left: 6vw;
  padding-right: 5vh;
  padding-top: 5vw;
}
#overlay {
    position: fixed;
    display: none;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.85);
    z-index: 2;
    cursor: pointer;
}
video{
  position: absolute;
  top: 20vh;
  left: 25vw;
  width: 50vw;
  height: 60vh;
  box-shadow: 0 4px 8px 0 rgba(255,255,255, 0.8), 0 6px 20px 0 rgba(255,255,255, 0.8);
}
#text{
  position: relative;
  float: none;
  width: 100%;
  font-size: 2.5vw;
  font-weight: bold;
  text-align: center;
  color: #444;
}
.Tcontainer{
  position: absolute;
  top: 67%;
  left: 0%;
  font-size: 15px;
  color: black;
  font-weight: bold;
}
.closePref:hover {
   transform: rotate(-45deg);
   -webkit-transform: rotate(-45deg);
   -ms-transform: rotate(-45deg);
}
.earning{
  margin-top: 5px;
  font-size: 1.5vw;
  color: white;
  display: block;
}
.score{
  float: right;
  margin-right: 5px;
  font-size: 1.5vw;
  color: white;
  display: block;
}
.views{
  margin-top: 5px;
  font-size: 1.5vw;
  color: white;
  display: block;
}
.survey{
  margin-top: 5px;
  font-size: 1.5vw;
  color: white;
  display: block;
}
.connections{
  margin-top: 5px;
  font-size: 1.5vw;
  color: white;
  display: block;
}
.duration{
  color: white;
  float: right;
  margin-top: 49%;
}
