html, body {
  padding : 0%;
  margin: 0%;
  height: 100%;
  width: 100%;
}
body{
  background: linear-gradient(#000, #222);
}
#message{
  text-align: center;
  height: auto;
  width: 100%;
  position: absolute;
  top: 40vh;
  font-size: 4vw;
  font-weight: bold;
  font-family: "century gothic";
  color: #eee;
}
#container{
  position: absolute;
  right: 5vw;
  top: 10vw;
  height: auto;
  width: auto;
}
#login-wrapper{
  position: relative;
  float: left;
  height: 50vh;
  width: 50vh;
  border-radius: 1vh;
  font-family: "century gothic";
  padding: 1vh;
  display: none;
}
#login-head{
  position: relative;
  float: left;
  width: 100%;
  height: auto;
  font-size:4vh;
  font-weight: bold;
  color: #eee;
  text-align: center;
}
#login-form{
  position: relative;
  float: left;
  margin-top: 5vh;
  width: 100%;
}
 input{
  position: relative;
  float: left;
  margin: 1vh;
  width: 90%;
  height: 4vh;
  background-color: transparent;
  color: white;
  font-size: 2.5vh;
  border: 1px solid #299;
  border-radius: 5px;
  padding: 1vh;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #a52;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #a84;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #a84;
}
:-moz-placeholder { /* Firefox 18- */
  color: #a84;
}
#button-wrapper{
  position: relative;
  margin-top: 5vh;
  float: left;
  width: 100%;
  height: 5vh;
}
#button-wrapper button{
  width: 45%;
  height: 5vh;
  margin: 1vh;
  border: 1px solid #299;
  background-color: transparent;
  border-radius: 5px;
  font-size: 2.5vh;
  transition: width 0.3s ease;
}
#login,#back-to-login{
  position:absolute;
  left: 0%;
  color: #299;
}
#register, #register-me{
  position:absolute;
  right: 1%;
  color: #f44;
}
#button-wrapper button:hover{
  cursor: pointer;
  width: 95%;
  z-index: 1;
}
#button-wrapper button:active{
  background-color:white;
  color: #222;
}
#login:hover, #back-to-login:hover{
  background-color: #299;
  border: 1px solid #299;
  color: #eee;
}
#register:hover, #register-me:hover{
  background-color: #f44;
  border: 1px solid #f44;
  color: #eee;
}
#register-wrapper{
  position: relative;
  float: left;
  height: 50vh;
  width: 50vh;
  border-radius: 1vh;
  font-family: "century gothic";
  padding: 1vh;
  display: none;
}
