html,body {
  padding: 0%;
  margin: 0%;
  height: 100%;
  width: 100%;
}
#head{
  position: relative;
  float: left;
  width: 100%;
  height: 8.5vh;
  background-color: #0070c0;
}
#brandmonk{
  position: relative;
  float: left;
  margin-top: .5vh;
  margin-left: 6vw;
  font-size: 2.5vw;
  font-weight: bold;
  font-family: Candara;
  color: #fff;
}
#login-box{
  position: relative;
  margin-right: 4vw;
  float: right;
  width: auto;
  height: 7vh;
  padding: .5%;
  font-family: calibri;
}
#login-box input{
  position: relative;
  float: left;
  margin: 1vh;
  font-size: 1vw;
  padding-left: 2px;
  border: 1px solid #fff;
}
#login-box button{
  position: relative;
  float: left;
  font-size: 1vw;
  background-color: #0070c0;
  margin: 1vh;
  border: 1px solid #fff;
  color: #fff;
  padding: .5%;
  width: 5vw;
}
#login-box button:hover{
  background-color: #fff;
  color: #0070c0;
  cursor: pointer;
}
#login-box button:active{
  background-color: #0070c0;
  color: #fff;
}
#forgot-password{
  position: absolute;
  right: 0vw;
  bottom: 1vh;
  font-size: 1vw;
  color: #fff;
}
#forgot-password:hover{
  cursor: pointer;
}
#forgot-password:active{
  color: #aaa;
}
#left-half{
  border-right: 1px solid #0070c0;
  float: left;
  width: 50%;
  height: 50vh;
  text-align: center;
  padding-top: 20vh;
  margin-top: 5vh;
}
#left-half-text{
  font-family: Candara;
  font-size: 8vh;
  font-weight: bold;
  color: #0070c0;
  padding-left: 1vw;
  padding-right: 2vw;
}
#left-half-text-mobile{
  display:none;
}
#login-box-mobile{
  display:none;
}
#foot-mobile{
  display:none;
}
#register-mobile{
  display: none;
}
#i-have-questions{
  background-color: #0070c0;
  color: #fff;
  border: 1px solid transparent;
  padding-left: 3vh;
  padding-right: 3vh;
  padding-top: 0.3vh;
  padding-bottom: 0.3vh;
  margin-top: 6vh;
  font-size: 3vh;
  cursor: pointer;
}
#right-half{
  float: right;
  margin: 0 auto;
  width: 43%;
  padding-top: 10vh;
  padding-left: 5vw;
  height: 70vh;
}
#right-half-text{
  font-size: 6vh;
  font-weight: bold;
  font-family: candara;
  color: #0070c0;
}
#register-box{
  margin-top: 5vh;
  padding-right: 10vh;
}
#register-form{

}
.input-label{
  font-family: Calibari;
  font-size: 3vh;
}
#register-form input {
  width: 17vw;
  float: right;
  font-size: 3vh;
  border: 1px solid #0070c0;
}
.register-input{
  margin-top: 2vh;
}
.privacy-policy{
  margin-top: 6vh;
  font-size: 2vh;
}
#register{
  background-color: #0070c0;
  color: #fff;
  border: 1px solid transparent;
  padding-left: 7vh;
  padding-right: 7vh;
  padding-top: 0.3vh;
  padding-bottom: 0.3vh;
  margin-top: 3vh;
  font-size: 3vh;
  margin-left: 24vw;
  transition: all 0.5s;
}
#foot{
  position: absolute;
  bottom: 0;
  height: 10vh;
  width: 100%;
  background-color: #0070c0;
}
#register span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#register span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -10px;
  transition: 0.5s;
  color: #fff;
}

#register:hover span{
  padding-right: 25px;
}

#register:hover span:after {
  opacity: 1;
  right: 0;
}
#i-have-questions span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#i-have-questions span:after {
  content: '\003F';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -10px;
  transition: 0.5s;
  color: #fff;
}

#i-have-questions:hover span {
  padding-right: 25px;
}

#i-have-questions:hover span:after {
  opacity: 1;
  right: 0;
}
#icon-container1{
  position: absolute;
  margin-top: 2.5vh;
  padding-right: 2px;
  left: 80%;
}

#link-container{
  position: absolute;
  margin-top: 3.2vh;
  margin-left: 1vw;
  padding-left: 2vw;
  border: 1px dashed white;
  width: 62%;
  font-family: calibri;
}
#link-container a{
  text-decoration: none;
  color: white;
  font-size: 1.2vw;
  padding: 1vw;
}
