@media screen and (max-width: 480px) and (max-height: 853px){
  body{
    background-color: #248;
  }
  #foot, #foot-mobile{
    display: none;
  }
  #login-box{
    display: none;
  }
  #head{
    visibility: hidden;
  }
  #brandmonk{
    position: relative;
    float: left;
    margin: 0%;
    padding: 0%;
    width: 100vw;
    margin-top: 20vw;
    visibility: visible;
    font-size: 11vw;
    text-align: center;
  }
  #body-container{
    visibility: visible;
  }
  #right-half{
    display: none;
  }
  #left-half{
    position: relative;
    float: left;
    visibility: hidden;
    padding-top: 0%;
    height: auto;
  }
  #left-half-text{
    display: none;
  }
  #left-half-text-mobile{
    position: relative;
    float: left;
    width: 100vw;
    margin-top: 15vw;
    visibility: visible;
    display: block;
    font-size: 5vw;
    color: #fff;
    font-family: candara;
  }
  #mobile-buttons{
    position: relative;
    float: left;
    width: 100%;
    text-align: center;
    display: block;
  }
  .button-mobile{
    position: relative;
    float: center;
    margin-left: 33vw;
    margin-top: 5vw;
    width: 30vw;
    padding: 2vw;
    font-size: 5vw;
    border: 1px solid white;
    color: white;
    border-radius: 2vw;
  }
  .button-mobile:hover{
    cursor: pointer;
  }
  #mobile-login-button, #login-mobile, #register-user-mobile{
    background-color: #fff;
    color: #248;
  }
  #mobile-login-button:active{
    background-color: #248;
    color: #fff;
  }
  #mobile-register-button:active, #register-mobile:active, #back-to-login:active{
    background-color: #fff;
    color: #248;
  }
  #privacy-policy-mobile{
    position: relative;
    float: left;
    width: 100%;
    display: block;
    text-align: center;
    font-size: 3.5vw;
    color: white;
    margin-top: 15vw;
    font-family: calibri;
  }
  a{
    color: #999;
  }
  #login-form-mobile, #register-form{
    position: relative;
    float: left;
    margin-top: 10vw;
  }
  input, #register-form input{
    position: relative;
    float: left;
    width: 85%;
    margin: 5vw;
    margin-top: 3vw;
    font-size: 5vw;
    padding: 2vw;
    font-family: calibri;
    border: 1px solid #fff;
    border-radius: 2vw;
  }
  #login-mobile, #register-user-mobile{
    margin-bottom: 5vw;
    margin-left: 35vw;
    width: 30vw;
    font-family: 'times new roman';
  }
  #loading{
    position: fixed;
    float: left;
    width: 15vw;
    height: 15vw;
    left: 45%;
    top: 40%;
    background-image: url('../images/icons/loading.gif');
    background-size: 100% 100%;
    display: block;
    visibility: hidden;
  }
  #forgot-password{
    position: relative;
    float: left;
    right: 0;
    width: 100vw;
    text-align: center;
  }
  #register-mobile, #back-to-login{
    position: relative;
    float: left;
    margin-left: 35vw;
    margin-bottom: 10vw;
    width: 30vw;
    display: block;
    background-color: transparent;
    font-family: 'times new roman';
  }
  .errormessage{
    position: relative;
    float: left;
    width: 87%;
    margin-left: 5vw;
    padding: 1.5vw;
    font-family: "century gothic";
    border-radius: 2vw;
    background: #a44;
    color: #fff;
    left: 0;
    top: 0;
  }
}
