html,body{
  margin: 0%;
  padding: 0%;
  height: 100%;
  width: 100%;
  font-family: "candara";
  background: #eee;
}
#head{
  position: relative;
  float: left;
  width: 100%;
  height: 8vh;
  background-color: #0070c0;
}
#footer-button{
  display: none;
}
#brandmonk{
  position: relative;
  margin-left: 4vw;
  padding: .5vh;
  float: left;
  height:100%;
  width: 20vw;
  font-family: verdana arial "candara";
  font-size: 2.3vw;
  font-weight: bold;
  color: #eee;
  cursor: pointer;
}
.mobile-head-type{
  display: none;
}
.mobile-next-button{
  display: none;
}
.head-button{
  position: relative;
  padding: 2vh;
  float: right;
  width: auto;
  height: 4vh;
  font-size: 1.25vw;
  color: #eee;
}
.head-button:hover{
  background-color: #eee;
  color: #299;
  cursor: pointer;
}
.head-button:active{
  background-color: #299;
  color: white;
}
.hline1{
  position: absolute;
  top: 16vh;
  left: 2vw;
}
.hline2{
  position: absolute;
  top: 45.5vh;
  left: 2vw;
}
.hline3{
  position: absolute;
  top: 75vh;
  left: 2vw;
}
.hline4{
  position: absolute;
  top: 88vh;
  left: 2vw;
}
.vline1{
  position: absolute;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  top: 30.5vh;
  left: 43vw;
}
.vline2{
  position: absolute;

    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  top: 60.5vh;
  left: 43vw;
}

#heading{
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 1.5vw;
  font-weight: bold;
  color: #0070c0;
  text-decoration: underline;
}
.profInfo{
  position: absolute;
  top: 6.5vh;
  width: 80%;
  height: 8vh;
  left: 2vw;
}
.profImg{
  background-image: url('../images/user_profile_female.jpg');
  position: absolute;
  top :0vh;
  left: 5vw;
  width:5.5vw;
  height: 11vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 1px solid black;
}
.username{
  position: absolute;
  padding-left: 2vw;
  padding-right: 1vw;
  top: 2vh;
  left: 10vw;
  border: 2px solid #0070c0;
  font-size: 1.4vw;
  font-weight: bold;
}
.adTrack{
  position: absolute;
  top: 17vh;
  left: 2px;
  width: 45%;
  height: 30%;
}
.revenue{
  position: absolute;
  right: 2px;
  top: 17vh;
  width: 45%;
  height: 30%;

}
.socioSharing{
  position: absolute;
  left: 2px;
  bottom: 23vh;
  width: 45%;
  height: 30%;
}
.trans{
  position: absolute;
  right: 2px;
  bottom: 23vh;
  width: 45%;
  height: 30%;
}
.row{
  position: relative;
  float: left;
  width: 100%;
  height: 18px;
}
#mob-head-link{
  display: none;
}
.credentials{
  position: absolute;
  left: 5px;
  bottom: 10.5vh;
  width: 99%;
  height: 12vh;
}
#credType{
  font-size: 1.4vw;
  margin: 1vw;
  font-weight: bold;
  margin-left: 10vw;

}
#type{
  position: absolute;
  left:6vw;
  font-size: 1.2vw;
  margin: 2px;
  font-weight: bold;
}
#credVal{

  font-family: serif;
  background-color: #0070c0;
  font-size: 1.2vw;
  color: white;
  font-weight: bold;
  margin: 1vw;
}
#val{
  font-family: serif;
  position: absolute;
  right:6vw;
  background-color: #0070c0;
  font-size: 1.1vw;
  margin-top: 1vh;
  padding-left: 1vh;
  padding-right: 1vh;
  color: white;
  font-weight: bold;
}
.privacy-policy{
  padding-left: 1vw;
  position: absolute;
  bottom: 7vh;
  width: 98%;
  overflow-x: hidden;
}
#ini{
  margin-right: 2vw;
  margin-bottom: 2px;
  padding-left: 1vh;
  padding-right: 1vh;
  float: right;
  background-color: red;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.trans input{
  position: absolute;
  right: 6vw;
}
#ift{
  position: absolute;
  visibility:hidden;
  left: 16vw;
  color:red;
}
#ift1{
  position: absolute;
  visibility:hidden;
  left: 16vw;
  color:red;
}
#ift2{
  position: absolute;
  visibility:hidden;
  left: 16vw;
  color:red;
}
.footer{
  position: absolute;
  width: 100%;
  height: 6vh;
  background-color: #0070c0;
  bottom: 0;
  overflow-y: hidden;
}
#link-container{
  position: absolute;
  margin-top: 1.6vh;
  padding-left: 2vw;
  width: 65%;
  font-family: calibri;
}
#link-container a{
  text-decoration: none;
  color: white;
  font-size: 1.2vw;
  padding: 1vw;
}
