html,body{
  margin: 0%;
  padding: 0%;
  height: 100%;
  width: 100%;
  font-family: "candara";
  background: #eee;
}
#head{
  position: relative;
  float: left;
  width: 100%;
  height: 8vh;
  background-color: #0070c0;
}
#mob-head-link{
  display: none;
}
#footer-button{
  display: none;
}
#brandmonk{
  position: relative;
  margin-left: 4vw;
  padding: .5vh;
  float: left;
  height:100%;
  width: 20vw;
  font-family: verdana arial "candara";
  font-size: 2.3vw;
  font-weight: bold;
  color: #eee;
  cursor: pointer;
}
.head-button{
  position: relative;
  padding: 2vh;
  float: right;
  width: auto;
  height: 4vh;
  font-size: 1.25vw;
  color: #eee;
}
.head-button:hover{
  background-color: #eee;
  color: #299;
  cursor: pointer;
}
.head-button:active{
  background-color: #299;
  color: white;
}
.footer{
  position: absolute;
  float: left;
  width: 100%;
  height: 6vh;
  background-color: #0070c0;
  bottom: 0;
  overflow-y: hidden;
}
#link-container{
  float: left;
  position: absolute;
  margin-top: 1.6vh;
  padding-left: 2vw;
  width: 65%;
}
#link-container a{
  text-decoration: none;
  color: white;
  font-size: 1.2vw;
  padding: 1vw;
}
.topnav {
  position: fixed;
  width: 95%;
  margin-left: 2.5vw;
  top: 15vh;
  text-align: center;
  border: 1px solid #0070c0;
}

.topnav span {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 20%;
  text-decoration: none;
  font-size: 1.2vw;
}

.topnav span:hover {
  background-color: #ddd;
  color: black;
  cursor: pointer;
}

.topnav .icon {
  display: none;
}


.pageContainer{
  position: absolute;
  left: 2.5vw;
  top: 25vh;
  width: 95%;
  height: 65%;
  border: 1px solid #0070c0;
}

#social_navigation_panel{
  position: relative;
  float: left;
  width: 20vw;
  height: 99.5%;
  padding: 1px;
  border-right: 1px solid #0070c0;
  background-color: white;
}
.social_nav{
  position: relative;
  float: left;
  width: 94%;
  height: auto;
  border: 1px solid transparent;
  font-family: inherit;
  font-size: 2.5vh;
  font-weight: bold;
  padding: 2vh 0 2vh 2vh;;
}
.social_nav:hover{
  background-color: #eee;
  cursor: pointer;
}
.social_selected{
  border: 1px solid #0070c0;
}
#social_body{
  position: relative;
  float: right;
  height: 100%;
  width: 74vw;
}
#contact_info_form {
  font-size: 1.3vw;
  padding: 1vh;
}
#contact_info_form label, #family_relation_form label{
  position: absolute;
}
#contact_info_form input, #family_relation_form input, select{
  position: absolute;
  width: 20vw;
  left: 21vw;
  height: 1.5vw;
  border: 1px solid #0070c0;
  padding: .2vw;
}
#family_relation_form   .tab{
  left: 44vw;
  width: 10vw;
}
#family_relation_form .tab1 {
  left: 52vw;
  width: 20vw;
}
#family_relation_form {
  margin-top: 2vw;
}
#family_relation_form select{
  height: 2vw;
  width: 20.5vw;
}
#contact_info_form_submit, #family_relation_form_submit{
  position: absolute;
  width: 15vw;
  right: 5vw;
  bottom: 4vw;
  background-color: #0070c0;
  color: white;
  border: 1px solid transparent;
  font-size: 1.3vw;
}
#contact_info_button, #family_relation_button{
  position: absolute;
  display: none;
}
