html,body{
  margin: 0%;
  padding: 0%;
  height: 100%;
  width: 100%;
  font-family: "candara";
  background: #eee;
}
* {
    box-sizing: border-box;
}
#head{
  position: relative;
  float: left;
  width: 100%;
  height: 6vh;
  background-color: #0070c0;

}
#brandmonk{
  position: relative;
  margin-left: 4vw;
  padding: .5vh;
  float: left;
  height:100%;
  width: 20vw;
  font-family: verdana arial "candara";
  font-size: 2.3vw;
  font-weight: bold;
  color: #eee;
}
.head-button{
  position: relative;
  padding: 2vh;
  float: right;
  width: auto;
  height: 50%;
  font-size: 1.25vw;
  color: #eee;
}
.head-button:hover{
  background-color: #eee;
  color: #299;
  cursor: pointer;
}
.head-button:active{
  background-color: #299;
  color: white;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-2.5 {width: 20%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-9"] {
    float: left;
    border: 1px solid black;
}
[class*="col-3"] {
    float: left;
    border: 1px solid black;
}

.left-upper{
  border: 1px solid red;
  padding-left: 3vw;
  padding-right: 3vw;
}
.right-upper{
  border: 1px solid green;
}
.left-down{
  border: 1px solid blue;
}
.right-down{
  border: 1px solid orange;
}
#uname{
  font-size: 2vw;
}
#userpic{
  background-image: url('../images/user_profile_male.jpg');
  background-size: 100% 100%;
  width: 5vw;
  height: 10vh;
  margin-left: 3vw;
  position: relative;
  border: 3px solid black;
  border-radius: 50%;
}
#userstatus{
  height: 10vh;
  margin-left: 2vw;
}
#userstat input{
  height: 10vh;
  width: 100%;
  font-size: 1vw;
}
[class*="col-12"] {
    float: left;
    border: 1px solid black;
}
#useraction{
  font-size: 1.5vw;
}
.footer{
  position: absolute;
  width: 100%;
  height: 6vh;
  background-color: #0070c0;
  bottom: 0px;
}
#link-container{
  position: absolute;
  margin-top: 1.6vh;
  padding-left: 2vw;
  width: 65%;
  font-family: calibri;
}
#link-container a{
  text-decoration: none;
  color: white;
  font-size: 1.2vw;
  padding: 1vw;
}
