html,body{
  margin: 0%;
  padding: 0%;
  height: 100%;
  width: 100%;
  font-family: "candara";
  background: #eee;
}
* {
    box-sizing: border-box;
}
#head{
  position: relative;
  float: left;
  width: 100%;
  height: 8vh;
  background-color: #0070c0;
}
#brandmonk{
  position: relative;
  margin-left: 4vw;
  padding: .5vh;
  float: left;
  height:100%;
  width: 20vw;
  font-family: verdana arial "candara";
  font-size: 2.3vw;
  font-weight: bold;
  color: #eee;
  cursor: pointer;
}
.head-button{
  position: relative;
  padding: 2vh;
  float: right;
  width: auto;
  height: 100%;
  font-size: 1.25vw;
  color: #eee;
}
.head-button:hover{
  background-color: #eee;
  color: #299;
  cursor: pointer;
}
.head-button:active{
  background-color: #299;
  color: white;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-2.5 {width: 20%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 73%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-9"] {
    float: left;
    border: 1px solid #eee;
}
[class*="col-3"] {
    float: left;
}

.left-upper{
float:left;
}
.right-upper{
  float: right;
  background-color: white;
  margin-top: 2vh;
  border-radius: 0.5vw;
  margin-right: 0.5vw;
  border: 1px solid #bfd7ff;
  padding: 0.5vh;
}
.left-down{
  margin-top: 10vh;
  float: left;
  border-right: 2px solid white;
}
.right-down{
  float: right;
  background-color: white;
  margin-top: 2vh;
  border-radius: 0.5vw;
  margin-right: 0.5vw;
  border: 1px solid #bfd7ff;
  padding: 0.5vh;
}
.profInfo{
  position: absolute;
  top: 6.5vh;
  width: 80%;
  height: 8vh;
  left: 2vw;
}
.profImg{
  background-image: url('../images/user_profile_female.jpg');
  position: absolute;
  top :2vh;
  left: 4vw;
  width: 6vw;
  height: 12vh;
  background-size: 100% 100%;
  border-radius: 50%;
  border: 1px solid black;
}
.username{
  position: absolute;
  padding-left: 2vw;
  padding-right: 2vw;
  top: 2.5vh;
  left: 11vw;
  border: 2px solid #0070c0;
  font-size: 1.4vw;
  font-weight: bold;
}
.statUpdate{
  position: absolute;
  top: 14.5vh;
  left: 13vw;
}
.stat{
  padding-left: 2vw;
  padding-right: 2vw;
}
.statUpdate textarea{
  resize: none;
}
.statUpdate textarea::placeholder{
  color: #0070c0;
}

.update{
  position: absolute;
  margin-top: 1.5vh;
  margin-left: 1vw;
  background-color: #0070c0;
  color: white;
  padding-left: 1vw;
  padding-right: 1vw;
  cursor: pointer;
}
.update:hover{
  border: 1px solid #0070c0;
  background-color: white;
  color: #0070c0;
  font-weight: bold;
}
.statUpdate input{
  width: 43.3vw;
}
.statUpdate input::placeholder{
  color: #0070c0;
}
#friend{


}
.f_image{
  width: 4.8vw;
  height: 4.8vw;
  background-size: 100% 100%;
  border-color: white;
  background-repeat: no-repeat;
  margin: 0.6vw;
  float: left;
  border: 1px solid #0070c0;
  border-radius: 50%;
  cursor: pointer;
}
.f_name{
  display: none;
}

#user_post{
  padding: 1vw;
  float: left;
}
.post{
  width: 82%;
  min-height: 8vw;
  max-height: 20vw;
  background-color: white;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 0.6vw;
  margin-right: 0vw;
  float: left;
  border: 1px solid #bfd7ff;
  border-radius: 0.5vw;
}
.postedby{
  padding-left: 2vw;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  background-color: white;
  border-radius: 0.5vw;
}
.originalpost{
  width: 100%;
  min-height: 8vw;
  background-color: #bfd7ff;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.like{
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  background-color: white;
  border-radius: 0.5vw;
  width: 15%;
  text-align: center;
  float:left;
  cursor: pointer;
}
.comment{
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  background-color: white;
  border-radius: 0.5vw;
  width: 15%;
  text-align: center;
  float:left;
  cursor: pointer;
}
.ref_vid{
  width: 15%;
  height: 10vw;
  background-size: 100% 78%;
  background-repeat: no-repeat;
  margin: 0.6vw;
  margin-top: 3.5vh;
  float: right;
  border: 1px solid #bfd7ff;
  border-radius: 0.5vw;
  background-color: white;
}
.share{
  height: 20%;
  border-radius: 0.5vw;
  background-color: white;
  margin-top: 16.5vh;
  text-align: center;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  cursor: pointer;
}
#banner{
  padding: 1vw;
}
.banner_add{
  width: 95%;
  float: left;
  margin-top: 1vw;
  margin-bottom: 1vw;
}
.banner_name{
  border: 1px solid red;
  width: 100%;
  height: 4vw;
  float: left;
  border-radius: 0.5vw;
}
.banner_add_share{
  position: absolute;
  border: 1px solid green;
  border-radius: 50%;
  width: 5vw;
  height: 5vw;
  margin-left: 17vw;
  margin-top: -0.5vw;
  background-color: white
}
.banner_add_share_text{
position: relative;
float: left;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.footer{
  width: 100%;
  height: 7vh;
  background-color: #0070c0;
  bottom: 0px;
  overflow-y: hidden;
}
#link-container{
  position: absolute;
  margin-top: 1.7vh;
  padding-left: 2vw;
  width: 65%;
  font-family: calibri;
}
#link-container a{
  text-decoration: none;
  color: white;
  font-size: 1.2vw;
  padding: 1vw;
}
